.about {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
}

.about img {
    width: 50%;
    margin-left: 92px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.about p {
    text-align: center;
    color: var(--marron);
}

@media(min-width:768px) {
    .about {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }


    .about img {
        width: 20%;
        margin: 10px;
        padding: 5px;
    }

}

@media(min-width:1024px) {}