<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Boostrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/d4dd8b770b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- Css -->
  <link rel="stylesheet" href="/stylesheets/styles.css"/>

  <title>"De mi para ti"</title>
</head>

<body class="home">

  <header>
    <marquee loop="infinite" behavior="scroll">ENVIOS GRATIS A PARTIR DE $15.000</marquee>

    <div class="container">

      <div class="logo">
        <!-- logo -->
        <a href="/home"><img src="/images/logo.png" alt="logo"></a>
      </div>

      <div class="burger">
        <!-- burguer menu -->
        <input type="checkbox" name="burguer" id="burguer">
        <label for="burger"><i class="fa-sharp fa-solid fa-bars"></i></label>

        <nav class="nav-desktop">

          <ul>

            <li><a href="./home">Inicio</a></li>

            <li><a>Categorias<i class="fas fa-angle-down"></i></a>

              <!-- <ul>
  
                <li><a>Tortas</a></li>
  
                <li><a>Paletas y muffins</a></li>
  
                <li><a>Cookies</a></li>
              </ul> -->
            </li>

            <li><a href="./about">Sobre mi</a></li>

            <li><a href="./contactanos">Contacto</a></li>

            <li><a href="./login">Login</a></li>

          </ul>

        </nav>

      </div>

    </div>

  </header>

  <main class="about">
    <img src="/images/estefaabout.jpg" alt="Estefa">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, corporis mollitia eius saepe incidunt
      asperiores deserunt temporibus, fugiat deleniti dolorum in perferendis magni id ipsam eaque excepturi harum
      officia autem?
      Fuga, perspiciatis doloribus modi, commodi consequuntur nemo quod nisi neque accusamus beatae nulla ipsum
      repellendus reiciendis. Error totam nulla alias, reiciendis aut dolorem iusto, numquam voluptas veritatis dolorum
      molestias in.
      Unde iure ad, voluptas nemo numquam rem ipsum pariatur assumenda eaque, quidem nisi. Voluptatum esse officiis
      numquam possimus placeat minus, laudantium deserunt itaque quos et dolores, incidunt repellendus excepturi
      aspernatur.
      Minima, itaque ducimus fugiat culpa odio quo magnam et fuga eligendi esse cum rerum veritatis, ipsa vitae quae
      optio consequatur iste aut rem, sit distinctio quia molestiae ut? Voluptas, odit.
      Possimus, saepe exercitationem nobis, nesciunt, inventore nostrum consectetur sed quas nulla labore ut? Illo, non
      esse tenetur suscipit dolorum a, nobis dolores, repellendus minima quo aperiam distinctio eligendi eaque autem?
    </p>
  </main>

  <footer>

    <div class="hilera-primer">

      <div class="columnas-links">
        <ul>
          <li><i class="fas fa-home"><a href="/home">INICIO</a></i></li>
          <li><i class="fas fa-trophy"><a href="#">PRODUCTOS</a></i></li>
          <li><i class="fas fa-rss"><a href="/novedades">NOVEDADES</a></i></li>
          <li><i class="fas fa-envelope"><a href="/contactanos">CONTACTO</a></i></li>
          <li><i class="fas fa-question-circle"><a href="/pregfrec">PREGUNTAS FRECUENTES</a></i></li>
        </ul>
      </div>

      <!-- va imagen de estefa -->
      <div class="aboutme">
        <a href="/about"><img src="/images/logo.png" alt="Logo"></a>
      </div>

      <div class="redes">
        <h6>¡SEGUINOS EN NUESTRAS REDES!</h6>
        <a href="https://www.facebook.com/search/top?q=demiparatipasteleria" target="_blank"><i
            class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/demiparatipasteleria/" target="_blank"><i
            class="fab fa-instagram-square"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5491167105348" target="_blank"><i
            class="fab fa-whatsapp-square"></i></a>
      </div>
    </div>

  </footer>

</body>

</html>