<!DOCTYPE html>
<html lang="es">
  <% - include ('./partials/head',{title:'home'}) %>

  

<body class="inicio">
    <div>
    <!-- logo con enlace al home -->    
    <a href="/home"><img src="/images/logo.png" alt="logo"></a> 
  </div>
</main>
</body>

</html>