<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Boostrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/d4dd8b770b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- Css -->
  <link rel="stylesheet" href="/stylesheets/styles.css"/>

  <title>"De mi para ti"</title>
</head>

<body class="preg-Frec">

  <header>
    <marquee loop="infinite" behavior="scroll">ENVIOS GRATIS A PARTIR DE $15.000</marquee>

    <div class="container">

      <div class="logo">
        <!-- logo -->
        <a href="/home"><img src="/images/logo.png" alt="logo"></a>
      </div>

      <div class="burger">
        <!-- burguer menu -->
        <input type="checkbox" name="burguer" id="burguer">
        <label for="burger"><i class="fa-sharp fa-solid fa-bars"></i></label>

        <nav class="nav-desktop">

          <ul>

            <li><a href="./home">Inicio</a></li>

            <li><a>Categorias<i class="fas fa-angle-down"></i></a>

              <!-- <ul>
  
                <li><a>Tortas</a></li>
  
                <li><a>Paletas y muffins</a></li>
  
                <li><a>Cookies</a></li>
              </ul> -->
            </li>

            <li><a href="./about">Sobre mi</a></li>

            <li><a href="./contactanos">Contacto</a></li>

            <li><a href="./login">Login</a></li>

          </ul>

        </nav>

      </div>

    </div>

  </header>

  <main>

    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿COMO SE REALIZAN LAS ENTREGAS?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Las entregas se realizan personalmente con envío o en nuestra sucursal.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            ¿COMO HAGO PARA CANCELAR MI COMPRA?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Para cancelar su compra póngase en contacto con nosotros via whatsapp al numero de
            la página con al menos 5 dias de anticipación.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            ¿PUEDO PAGAR CON 2 METODOS DE PAGO DIFERENTES?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Si. Los métodos de pago son, transferencia de la seña y el resto al momento de la
            entrega. puede abonar con tarjeta de crédito, débito, transferencia, mercadoPago y/o efectivo.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            ¿LOS PRODUCTOS SON TODOS COMESTIBLES?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Todos los productos utilizados en la elaboracón del trabajo son comestibles. En el
            caso de que hubiera algo NO comestible, se avisa con anticipación.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            ¿SE PUEDEN REALIZAR CAMBIOS?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Si se pueden realizar cambios de idea y/o sabores, pero siempre que sean
            realizados con no menos de 7 dias de anticipación a la entrega del producto.
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer>

    <div class="hilera-primer">

      <div class="columnas-links">
        <ul>
          <li><i class="fas fa-home"><a href="/home">INICIO</a></i></li>
          <li><i class="fas fa-trophy"><a href="#">PRODUCTOS</a></i></li>
          <li><i class="fas fa-rss"><a href="/novedades">NOVEDADES</a></i></li>
          <li><i class="fas fa-envelope"><a href="/contactanos">CONTACTO</a></i></li>
          <li><i class="fas fa-question-circle"><a href="/pregfrec">PREGUNTAS FRECUENTES</a></i></li>
        </ul>
      </div>

      <!-- va imagen de estefa -->
      <div class="aboutme">
        <a href="/about"><img src="/images/logo.png" alt="Logo"></a>
      </div>

      <div class="redes">
        <h6>¡SEGUINOS EN NUESTRAS REDES!</h6>
        <a href="https://www.facebook.com/search/top?q=demiparatipasteleria" target="_blank"><i
            class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/demiparatipasteleria/" target="_blank"><i
            class="fab fa-instagram-square"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5491167105348" target="_blank"><i
            class="fab fa-whatsapp-square"></i></a>
      </div>
    </div>

  </footer>
  
</body>

</html>