<footer>

    <div class="hilera-primer">

      <div class="columnas-links">
        <ul>
          <li><i class="fas fa-home"><a href="/home">INICIO</a></i></li>
          <li><i class="fas fa-trophy"><a href="#">PRODUCTOS</a></i></li>
          <li><i class="fas fa-rss"><a href="/novedades">NOVEDADES</a></i></li>
          <li><i class="fas fa-envelope"><a href="/contactanos">CONTACTO</a></i></li>
          <li><i class="fas fa-question-circle"><a href="/pregfrec">PREGUNTAS FRECUENTES</a></i></li>
        </ul>
      </div>

      <!-- va imagen de estefa -->
      <div class="aboutme">
        <a href="/about"><img src="/images/logo.png" alt="Logo"></a>
      </div>

      <div class="redes">
        <h6>¡SEGUINOS EN NUESTRAS REDES!</h6>
        <a href="https://www.facebook.com/search/top?q=demiparatipasteleria" target="_blank"><i
            class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/demiparatipasteleria/" target="_blank"><i
            class="fab fa-instagram-square"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5491167105348" target="_blank"><i
            class="fab fa-whatsapp-square"></i></a>
      </div>
    </div>

  </footer>