<header>
    <marquee loop="infinite" behavior="scroll">ENVIOS GRATIS A PARTIR DE $15.000</marquee>

    <div class="container">

      <div class="logo">
        <!-- logo -->
        <a href="/home"><img src="/images/logo.png" alt="logo"></a>
      </div>

      <div class="burger">
        <!-- burguer menu -->
        <input type="checkbox" name="burguer" id="burguer">
        <label for="burger"><i class="fa-sharp fa-solid fa-bars"></i></label>

        <nav class="nav-desktop">

          <ul>

            <li><a href="./home">Inicio</a></li>

            <li><a>Categorias<i class="fas fa-angle-down"></i></a>

              <!-- <ul>
  
                <li><a>Tortas</a></li>
  
                <li><a>Paletas y muffins</a></li>
  
                <li><a>Cookies</a></li>
              </ul> -->
            </li>

            <li><a href="./about">Sobre mi</a></li>

            <li><a href="./contactanos">Contacto</a></li>

            <li><a href="./login">Login</a></li>

          </ul>

        </nav>

      </div>

    </div>

  </header>